@layer reset, base, tokens, recipes, utilities;

body:has(#storybook-root:not([hidden])) {
  background-color: var(--sw-colors-bg);
}

body:has(#storybook-docs:not([hidden])) {
  .docs-story {
    background-color: var(--sw-colors-bg);
  }
}
